.search-working {
  margin-bottom: 5px;
}

.date-form {
  display: flex;
  padding: 5px;
  border: 1px solid lightgray;
}

.react-datepicker-wrapper {
  flex: 1;
  background-color: #ffffff;
}

.react-datepicker__input-container input {
  width: 95%;
  padding: 7px;
  margin-left: 5px;
  outline: none;
  background: none;
  border: none;
  font-size: large;
  cursor: pointer;
  color: gray;
}

.date-form > button {
  width: 100px;
  border: none;
  background-color: lightgray;
  cursor: pointer;
}
