.search-working {
  margin-bottom: 5px;
}

.date-form {
  display: flex;
  /* padding: 5px; */
  border: 1px solid lightgray;
}

.react-datepicker-wrapper {
  flex: 1;
  background-color: #ffffff;
}

.react-datepicker__input-container input {
  width: 95%;
  padding: 10px;
  outline: none;
  background: none;
  border: none;
  font-size: large;
  cursor: pointer;
  color: gray;
}

.date-form > button {
  width: 100px;
  border: none;
  background-color: lightgray;
  cursor: pointer;
}

.buttons-container {
  margin-top: 4px;
}

.dateChange-btn,
.toogle-btn {
  background-color: #ffffff;
  border: 1px solid lightgray;
  cursor: pointer;
  height: 25px;
  width: 50px;
  margin-left: 3px;
}

.toogle-btn {
  width: 200px;
}
