.add-working {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
  height: 100vh;
}

.add-working > form {
  padding: 5px;
  width: 60%;
  height: max-content;
  background-color: #ffffff;
  border: 1px solid lightgray;
}

.form-header {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: gray;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  color: #333;
  padding: 5px;
  width: 80%;
}

.input-container > label {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 5px;
  text-transform: uppercase;
  display: block;
  color: gray;
}

.input-container > input {
  width: 80%;
  height: 35px;
  font-size: 15px;
  border: 1px solid lightgray;
  outline: none;
  padding: 10px;
  color: gray;
}

.input-container .react-datepicker__input-container input {
  width: 80%;
  height: 35px;
  font-size: 15px;
  border: 1px solid lightgray;
  outline: none;
  padding: 10px;
  color: gray;
}

.input-container > .date-picker {
  width: 100%;
}
.button-container {
  margin-top: 20px;
  width: 65%;
  text-align: right;
}

.add-button {
  padding: 8px;
  border: none;
  background-color: grey;
  color: #ffffff;
  cursor: pointer;
  width: 30%;
}

.alert {
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  background-color: none;
  border: 1px solid #b30000;
}
